body{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.header-icons, .login-or-signup, nav, header{
    display: flex;
    
}
header{ 
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 18px 79px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}
.header-icons{gap: 24px;}

.logo{ font-size: 22px;
    font-weight: 700;
    line-height: 22px}

.logo:hover{transition: color 0.5s linear; 
    color: #01813F;}

.login-or-signup{
    color: #fff;
    align-items: center;
    gap: 4px;
    margin-left: 25px;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.50);
}

.link-header {transition: color 0.5s linear;}

.link-header:hover { color: #01813F;}


.icon:hover>svg path {transition: fill 0.5s linear; 
    fill: #01813F;
    }
