body{    
    background-color: rgba(41, 31, 8, 0.932);
    background-image: url(../images/backgraund.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    }

.content {
    width: 444px;
    height: 584px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin-left: auto;
    margin-right: auto;
    padding: 60px 60px 38px 60px;
    position: relative;
    top: -58px;
    font-family: 'Ubuntu', sans-serif;

}

.sign-up-content {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 31px;
    left: 61px;
        }

.log-in-content {
    color: #3CB878;    
    font-size: 14px;    
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    top: 33px;
    right: 59px;
    transition: all 0.5s;
        
}
.log-in-content:hover{
    text-decoration: underline;
    color: #01813F;
}

.btn-container{display: flex; gap: 4px;}

.facebook-btn {
    display: flex;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    align-items: center;
    border-radius: 4px;
    position: relative;
    transition: all 0.5s;
}

.facebook-btn:hover{
    background-color: #022263;

}

.facebook-icon{margin: 12px 13px 12px 11px;}

.facebook {

    padding: 7px 0px 7px 11px;
    border-left: solid 1px rgba(10, 22, 47, 0.1);
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
 }


.google-btn {
    display: flex;
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    align-items: center;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    transition: 0.5s;
}

.google-btn:hover{
    background-color: #AB1F09;
}

.google{
    padding: 7px;
    
    border-left: solid 1px rgba(43,13,9,0.1)
        
}

.google-btn img{
    margin: 14px 7px 14px 10px;
}

.or-container{
    position: relative;
    top: 18px;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 15px;
}

.or{display: block;
    position: absolute;
    top: 6px;
    left: 149px;
    background-color: #FFF;
    z-index: 3;
    width: 25px;
    padding: 0 5px 0 5px;
    color: #848484;
    font-size: 14px;
}

form{
    position: absolute;
    bottom: 38px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

input{
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: black;
}

input::placeholder{
    color: #BEBEBE;
    padding: 14px 20px;
    font-family: inherit;
}

input:focus{
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    border: 1px solid #F2F2F2;
    outline: none;
    padding-left: 20px;
    font-family: inherit;
}



form input:nth-child(n+1):nth-child(-n+5){
    font-family: 'Ubuntu' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked) + label
   {display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer}

.checkbox{
    height: 20px;
    width: auto;
}



.checkbox-a {color: #3CB878;
transition: all 0.5s;}

.checkbox-a:hover{text-decoration: underline;}



.submit{
    background-color: #3CB878CC;
    width: 324px;
    height: 46px;
    font-family: inherit;
    color: #FFF;
    font-family: 'Ubuntu',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    transition: all 0.5s;
}

.submit:hover{background-color: #01813F;}

.square {
    position: absolute;
    top: 29px;
    left: 0px;
}